on: [push] 

jobs:
 VeracodeFindingsJS:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        repository: Suresh051/ActionTemplates@v1
        path: DeereActions
        ref: 'main'

