on: [push] 

jobs:
 VeracodeFindingsJS:
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v2
     - uses: actions/checkout@v2
       with:
        repository: Suresh051/ActionTemplates
        ref: 'main'
     - uses: ./DeereActions/.github/actions/Prisma
