# This is an example of using Composite Run Steps Actions

name: Composite Example

on: [workflow_dispatch]
env:
 devapproved: 'true'

jobs:
  copy_files_job:
    runs-on: ubuntu-latest
    steps:
    - name: Take off label
      run: |         
        if [ ${{ env.devapproved }} == 'true' ]; then
          echo "No changes to commit"
        else
          echo "changes"
        fi
         


           
