name: github-runners
on:
 push:
  branches: [ main ]
env:
  devApproved: true
	  
jobs:
  devl-deployrunner: 
    name: sodofj
    if: github.event.ref == 'refs/heads/main' && ${{ env.devApproved }} == true
    runs-on: [ ubuntu-latest ]
    steps:
    - run: echo "suresh"



