name: CI + CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
env:
  snowChangeCreated: true 
  
jobs:
  Publish_tasks_package:
    name: Publish devl grant tasks package
    if: github.event.ref == 'refs/heads/main'
    runs-on: [ ubuntu-latest ]
    steps:
    - name: dafdsf
      run: |

          if (${{env.snowChangeCreated}}) then
                  echo "Deployment Completed Successfully"
                  else
                   echo "Deployment failed"
           fi       
          


