name: gh-action-dropdown-list-input
on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment'
        required: true
        default: 'dev,staging,[uat],prod'
jobs:
  stagingBuildAndDeploy:
    runs-on: ubuntu-latest
    steps:
      - name: Install Node Dependencies
        run: |
         echo ${{ github.event.inputs.environment }}
