name: github-runners
on:
 push:
  branches: [ main ]
env:
  devApproved: 'false'

jobs:
  greeting_job:
    runs-on: ubuntu-latest
    env:
      Greeting: Hello
    steps:
      - name: "Say Hello Mona it's Monday"
        if: ${{ env.devApproved == 'true' }} && github.event.ref == 'refs/heads/main'
        run: echo "$Greeting $First_Name. Today is $devApproved!"
        env:
          First_Name: Mona
