name: CI + CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
  
jobs:
  Publish_tasks_package:
    name: Publish devl grant tasks package
    if: github.event.ref == 'refs/heads/main'
    runs-on: [ ubuntu-latest ]
    steps:
    - uses: actions/checkout@v2
    - name: devl grant tasks package
      run: |
       chmod +x ./goodbye.sh
       ./goodbye.sh
    - name: script
      run: snowChangeCreated = true
    - name: dafdsf
      run: |
              if (snowChangeCreated) {
                    echo "Deployment Completed Successfully"
                    else
                     echo "Deployment failed"
                }
        


