on:
  workflow_dispatch:
    inputs:
      flutter_version:
        description: 'Framework version'
        required: true
        default: '2.5.3'
      publish_artifacts:
        description: 'Publish artifacts'
        required: true
        default: 'true'
      Environment:
        type: choice
        description: Environment 
        options:
        - Dev
        - Staging
        - Production
jobs:
  build_web:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Set Flutter version
        uses: subosito/flutter-action@v2.2.0
        with:
          flutter-version: '${{ github.event.inputs.flutter_version }}'
      - if: github.event.inputs.Environment == 'Dev'
        name: Publish Artifacts
        run: echo "dev"
      - if: github.event.inputs.Environment == 'Production'
        name: Publish Artifacts1
        run: echo "Production"
