name: CI + CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
  
jobs:
  Publish_tasks_package:
    name: Publish devl grant tasks package
    if: github.event.ref == 'refs/heads/main'
    runs-on: [ ubuntu-latest ]
    steps:
    - name: devl grant tasks package
      run: |
       echo "1"
       echo "2"
