name: github-runners
on:
 push:
  branches: [ main ]
env:
  devApproved: dev
jobs:
  devl-deployrunner: 
    name: sodofj
    if: github.event.ref == 'refs/heads/main' && env.devApproved == dev
    runs-on: [ ubuntu-latest ]
    steps:
    - run: echo "suresh"
